.admin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-input {
    padding: 10px;
    width: 400px;
}
.form-btn {
    padding: 10px;
    width: 400px;
    font-size: 1.5rem;
}
