.banner-class {
    width: 100%;
    height: 58vh;
    background-image: url("https://cdn.shopify.com/s/files/1/0461/8371/0869/files/sliderbg-3_2000x.jpg?v=1599305973");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: cover;
}
.banner-heading {
    font-family: "Courier New", Courier, monospace;
    font-size: 70px;
    font-weight: bold;
}
.banner-para {
    width: 90%;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
}
.banner-btn {
    width: 20%;
    height: 60px;
    border: none;
    font-weight: bold;
}
.banner-description {
    margin-left: 50px;
}

@media only screen and (max-width: 450px) {
    .banner-class {
        width: 100%;
        height: 100vh;
    }
    .banner-heading {
        font-size: 40px;
        margin-left: 35px;
    }
    .banner-para {
        margin-left: 35px;
    }
    .banner-btn {
        width: 40%;
        margin-left: 35px;
    }
}
